.warpper {
    position: relative;
    width: 450px;
    height: 246px;
    border: 0 none;
    box-sizing: border-box;
    padding: 30px;
    background: #fcfbfe;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.tabbody {
    height: 100%;
    border: 0 none;
    font-size: 16px;
    font-family: -apple-system, Arial, Helvetica, sans-serif;
    background: #fcfbfe;
}
body{
    background: transparent;
}
.tabbody .panel {
    width: 100%;
    height: 100%;
    padding-left: 5px;
    position: absolute;
    background-color: #fcfbfe;
}

.tabbody input.int {
    width: 280px;
    padding: 0 10px;
    height: 34px;
    border: 1px solid #CCC;
    line-height: 34px;
    border-radius: 4px;
    margin-left: 8px;
    outline: none;
    font-size: 16px;
}

.input-box {
    line-height: 34px;
    margin-bottom: 20px;
    position: relative; 
}
.find-input-box{
    width: 280px;
    padding: 0 10px;
    height: 34px;
    border: 1px solid #CCC;
    line-height: 34px;
    border-radius: 4px;
    margin-left: 8px;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    left: 36px;
}
.find-input{
    width: 220px;
    height: 32px;
    line-height: 32px;
    border: 0 none;
    font-size: 16px;
    outline: none;
}
.btn-box{
    position: absolute;
    top: 2px;
    right: 55px;
}
#nextReplaceBtn {
    background-image: url(./img/next.png);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-size: cover;
    outline: none;
    border: 1px solid transparent;
    margin-left: 15px;
}

#nextReplaceBtn:active {
    border: 1px solid #ffffff;
}

#preReplaceBtn {
    background-image: url(./img/pre.png);
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-size: cover;
    outline: none;
    border: 1px solid transparent;
}

#preReplaceBtn:active {
    border: 1px solid #ffffff;
}
#repalceBtn{
    margin-left: 43px;
}
#repalceAllBtn{
    margin-left: 9px;
}
.btn.btn-default:hover {
    background-color: #f9f9f9;
}

.btn {
    outline: none;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    text-decoration: none;
    height: 30px;
    padding: 4px 15px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 3px;
}

.btn.btn-default:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
}

.btn.btn-default:active {
    background-image: none;
    background-color: #d9d9d9;
    border-color: transparent;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-default {
    color: #555555;
    background-color: #fff;
    border-color: #afafaf;
}

.btn.btn-primary:hover {
    background-color: #f0f4fa;
}

.btn.btn-primary:hover {
    background-color: #e6e6e6;
    background-position: 0 -15px;
}

.btn.btn-primary {
    color: #0781f5;
    background-color: #fff;
    border-color: #0781f5;
}

.btn.btn-primary:active {
    background-image: none;
    background-color: #d9d9d9;
    border-color: transparent;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.msg{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
}