body{
    overflow: hidden;
    width: 690px;
    background: #fcfbfe;
}
.wrapper {
    height: 385px;
    width: 690px;
    background: #fcfbfe;
    padding: 30px 30px 0 30px;
    box-sizing: border-box;
    font-family: -apple-system ,Arial, Helvetica, sans-serif;
}

.clear {
    clear: both;
}

.wrapper .left {
    float: left;
    width: 370px;
    height: 100%;
}

.wrapper .right {
    float: right;
    height: 100%;
    width: 260px; 
}

.section {
    margin-bottom: 30px;
    width: 100%;
}

.section h3 {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 18px;
    color: #999;
}

.section ul {
    list-style: none;
    overflow: hidden;
    clear: both;

}

.section li {
    float: left;
    width: 160px;
    font-size: 15px;
    color: #333;
    height: 22px;
    line-height: 22px;
    margin-bottom: 10px;
}
.section li .checkbox,
.section li .radio{
    height: 19px;
    width: 19px;
    border: 1px #cdcdcd solid;
    outline: none;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;
    border-radius: 4px;
    margin-top: -4px;
}
.section li .radio{
    border-radius: 50%;
}
.section li .checkbox.active{
    background: url(./img/1.png);
    background-size: cover;
    border: 1px solid #157efb;
}
.section li .radio.active{
    background: url(./img/4.png);
    background-size: cover;
    border: 1px solid #157efb;
}
.section .tone {
    margin-left: 10px;
    width: 110px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 15px;
}

.section .preview {
    width: 220px;
}

.section .preview table {
    text-align: center;
    vertical-align: middle;
    color: #666;
}

.section .preview caption {
    font-weight: bold;
}

.section .preview td {
    border-width: 1px;
    border-style: solid;
    height: 22px;
}

.section .preview th {
    border-style: solid;
    border-color: #DDD;
    border-width: 2px 1px 1px 1px;
    height: 22px;
    background-color: #F7F7F7;
}