<!DOCTYPE HTML>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" src="../internal.js"></script>
    <style>
        body{font: 12px/1.5 "Microsoft YaHei", Lyh-Regular, helvetica, arial, sans-serif !important;}
    </style>
    <link rel="stylesheet" type="text/css" href="icon.css">
    <link rel="stylesheet" type="text/css" href="template.css">
</head>
<body>
    <div class="wrap">
        <div  class="left">
            <div class="pre" id="preitem"></div>
        </div>
        <div class="right">
            <div id="preview"></div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="bottom">
        <var id="lang_template_clear"></var> <input id="issave" type="checkbox" style="display:none"><span class="radiobox" onclick="save()"></span>
    </div>
    <script type="text/javascript" src="config.js"></script>
    <script type="text/javascript" src="template.js"></script>
</body>
</html>
