.wrap{width: 720px;height: 424px;padding: 30px 30px 20px 30px;font-size: 16px;background: #fcfbfe;}
.left{width:190px;height: 100%;float: left;box-sizing: border-box;border: 1px solid #CCC;border-right: 0 none;}
.right{width: 530px;height: 100%;float: left;box-sizing: border-box;border: 1px solid #CCC;}
.right #preview{height:100%;width:100%;overflow-y:auto;}
.left .pre{height: 100%;width: 100%;overflow-y:auto;box-sizing: border-box;padding:20px 20px 0 20px;}
.left .preitem{padding: 10px 0;}
.left .preitem img {display: block;margin: 0 auto;width: 112px;}
.bottom{height: 21px;padding-left: 30px;line-height: 20px;font-size: 16px;font-family: -apple-system, Arial, Helvetica, sans-serif;background:#fcfbfe;position: relative;}
#issave{height: 20px;width: 20px;border-radius:50%;}

.radiobox {
  height: 18px;
  width: 18px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
  position: absolute;
  top: -1px;
  left: 135px;
}


.radiobox.checked {
  background: url(./images/1.png);
  background-size: cover;
  border: 1px solid #007ff1;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 4px !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(195, 195, 195, 0.5) !important;
}